.drop-down-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
  .logo {
    display: flex;
    flex-direction: row;
    margin-left: 37px;
  }
  img {
    width: 32px;
    height: 32px;
  }
  h1 {
    margin-left: 8px;
    font-family: "Arial";
    font-weight: 900;
    font-size: 20px;
  }
  span {
    margin-right: 29px;
    font-size: 30px;
    cursor: pointer;
  }
}

.drop-down-menu {
  margin-top: 81px;
  display: flex;
  flex-direction: column;
  text-align: center;
  hr {
    width: 50%;
    margin: 0 auto;
  }
  ul {
    li {
      margin-bottom: 10px;
      margin-top: 10px;
      a {
        font-size: 20px;
        border: none;
        outline: none;
        text-decoration: none;
        color: black;
      }
    }
  }
}
