#task-button {
  visibility: hidden;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid grey;
  cursor: pointer;
  margin-left: 15px;
}
