.dashboard {
  display: flex;
  justify-content: space-between;
  .menu {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #323232;
    width: 46px;
    align-items: center;
    @media screen and (min-width: 1280px) {
      width: 159px;
    }
    .logo {
      display: flex;
      align-items: center;
      margin-top: 8px;
      @media screen and (min-width: 1280px) {
        margin-top: 12px;
      }
      img {
        width: 25px;
        height: 25px;
      }
      p {
        display: none;
        @media screen and (min-width: 1280px) {
          display: inline-block;
          color: white;
          margin-left: 6px;
        }
      }
    }
  }
  .main {
    display: flex;
    flex-grow: 1;
    form {
      flex-grow: 1;
      display: flex;
      height: 49px;
      align-items: center;
      justify-content: space-between;
      box-shadow: rgba($color: #000000, $alpha: 0.16) 0 3px 6px;
      input {
        flex-grow: 1;
        font-size: 14px;
        min-width: 197px;
        overflow: hidden;
        border: none;
        outline: none;
        margin-left: 13px;
      }
      input::placeholder {
        color: #7f7b7b;
      }
      .timer {
        font-size: 14px;
      }
      img {
        width: 27px;
        height: 27px;
        margin-right: 15px;
        margin-left: 20px;
        @media screen and (min-width: 768px) {
          margin-right: 80px;
        }
      }
    }
  }
}
